# Tutoriel Python - MDSF 2018

Ce tutoriel a pour but de guider les personnes souhaitant utiliser Python pour participer au challenge.

Il comporte 5 étapes :

1. Import des données
2. Analyse descriptive
3. Préparation des données
4. Création d’un modèle
5. Calcul des prédictions et soumissions

# Import des données

Avant de rentrer dans le vif du sujet, installons les packages nécessaires pour ce tutoriel :

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
pd.set_option('display.max_columns', 500)

In [36]:
%%time
X_train = pd.read_csv("train.csv", index_col=0, error_bad_lines=False)
X_test = pd.read_csv("test.csv", index_col=0, error_bad_lines=False)

Wall time: 23.6 s

In [37]:
X_test.head(3)
X_train.head(3)

,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
item_id,,,,,,,,,,,,,,,,,
b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Постельные принадлежности,NaN,NaN,Кокоби(кокон для сна),"Кокон для сна малыша,пользовались меньше месяц...",400.0,2,2017-03-28,Private,d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,0.12789
2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,NaN,NaN,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,0.00000
ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,"Видео, DVD и Blu-ray плееры",NaN,NaN,Philips bluray,"В хорошем состоянии, домашний кинотеатр с blu ...",4000.0,9,2017-03-20,Private,b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,0.43177

In [38]:
y_train = X_train["deal_probability"]

In [39]:
print("Dimension X_train:", X_train.shape)
print("Dimension X_test:", X_test.shape)

Dimension X_train: (1503424, 17)
Dimension X_test: (508438, 16)

# Analyse descriptive

## Structure des datasets

Le dataset train comporte les caractéristiques et délai de vente de **8880 objets** vendus sur le site Emmaus. C’est ce dataset que nous allons utiliser pour créer un modèle. Chaque objet est décrit par une observation de X variables. Ces variables sont décrites dans le fichier ```description.pdf``` présent dans la clef USB.

Le dataset test comporte les caractéristiques des **2960 objets** dont il faut prédire le délai de vente. A la différence du train, le délai de vente n’est bien sûr pas renseigné et une colonne ```id``` a ete rajoutée pour identifier les prédictions pendant l’étape de soumission.

In [40]:
X_train.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
user_id,1503424,771769,45ba3f23bf25,1080,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region,1503424,28,Краснодарский край,141416,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,1503424,1733,Краснодар,63638,NaN,NaN,NaN,NaN,NaN,NaN,NaN
parent_category_name,1503424,9,Личные вещи,697623,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category_name,1503424,47,"Одежда, обувь, аксессуары",282753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
param_1,1441848,371,Женская одежда,226289,NaN,NaN,NaN,NaN,NaN,NaN,NaN
param_2,848882,271,Обувь,150450,NaN,NaN,NaN,NaN,NaN,NaN,NaN
param_3,640859,1219,Вторичка,50615,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,1503424,788377,Платье,15550,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,1387148,1317102,В хорошем состоянии,2249,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,1.41806e+06,NaN,NaN,NaN,316708,6.68915e+07,0,500,1300,7000,7.9501e+10
item_seq_number,1.50342e+06,NaN,NaN,NaN,743.674,5572.52,1,9,29,88,204429
activation_date,1503424,21,2017-03-20,115190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_type,1503424,3,Private,1075706,NaN,NaN,NaN,NaN,NaN,NaN,NaN
image,1390836,1390836,5cd41433af9b166417f6ff5ded3b3118dbda9525eac10e...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
image_top_1,1.39084e+06,NaN,NaN,NaN,1241.93,970.464,0,425,1057,2217,3066
deal_probability,1.50342e+06,NaN,NaN,NaN,0.139131,0.260079,0,0,0,0.15087,1

In [41]:
X_test.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
user_id,508438,306069,abcdd1ca1a5c,496,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region,508438,28,Краснодарский край,45098,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,508438,1644,Екатеринбург,22391,NaN,NaN,NaN,NaN,NaN,NaN,NaN
parent_category_name,508438,9,Личные вещи,216577,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category_name,508438,47,"Одежда, обувь, аксессуары",84896,NaN,NaN,NaN,NaN,NaN,NaN,NaN
param_1,485528,361,Женская одежда,66642,NaN,NaN,NaN,NaN,NaN,NaN,NaN
param_2,275209,255,Обувь,48776,NaN,NaN,NaN,NaN,NaN,NaN,NaN
param_3,202107,973,Вторичка,18307,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,508438,298039,Платье,4673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,508438,485209,В хорошем состоянии,918,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,477853,NaN,NaN,NaN,279819,5.36422e+06,0,500,1500,8600,3.00006e+09
item_seq_number,508438,NaN,NaN,NaN,825.132,5646.87,1,8,30,94,205064
activation_date,508438,9,2017-04-12,81824,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_type,508438,3,Private,358259,NaN,NaN,NaN,NaN,NaN,NaN,NaN
image,465829,465829,83c25e0e0533246442716c077039491df590b62939babe...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
image_top_1,465829,NaN,NaN,NaN,1297.96,961.065,0,467,1132,2218,3066

Le jeu de données est très équilibré, chacune des 3 classes a une fréquence proche d’1/3.

# Création d'un modèle

Il est maintenant temps de créer un modele. Dans ce tutoriel nous allons construire une [Forêt Aléatoire](https://fr.wikipedia.org/wiki/For%C3%AAt_d'arbres_d%C3%A9cisionnels)

Pour ce faire nous utilisons les variables ```["poids", "prix", "nb_images", "longueur_image", "largeur_image", "categorie"]```.

Pour éviter le [surapprentissage](https://fr.wikipedia.org/wiki/Surapprentissage) et estimer les vraies performances de notre modèle nous allons utiliser le critère de [validation croisee](https://fr.wikipedia.org/wiki/Validation_crois%C3%A9e) méthode **k-fold** (cross-validation).

In [42]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_predict
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassifier

from sklearn import linear_model
from sklearn import svm

#from sklearn.metrics import log_loss 
from sklearn.metrics import mean_squared_error
from math import sqrt

### Imputation des valeurs manquantes par la valeur "missing"

In [43]:
'''
X_train.categorie.fillna('missing', inplace=True)
X_test.categorie.fillna('missing', inplace=True)

X_train.etat.fillna('missing', inplace=True)
X_test.etat.fillna('missing', inplace=True)

X_train.nom_magasin.fillna('missing', inplace=True)
X_test.nom_magasin.fillna('missing', inplace=True)

X_train.vintage.fillna('missing', inplace=True)
X_test.vintage.fillna('missing', inplace=True)

X_train.sous_categorie_1.fillna('missing', inplace=True)
X_test.sous_categorie_1.fillna('missing', inplace=True)

X_train.taille.fillna('missing', inplace=True)
X_test.taille.fillna('missing', inplace=True)

X_train.garantie.fillna('missing', inplace=True)
X_test.garantie.fillna('missing', inplace=True)

X_train.couleur.fillna('missing', inplace=True)
X_test.couleur.fillna('missing', inplace=True)
'''

"\nX_train.categorie.fillna('missing', inplace=True)\nX_test.categorie.fillna('missing', inplace=True)\n\nX_train.etat.fillna('missing', inplace=True)\nX_test.etat.fillna('missing', inplace=True)\n\nX_train.nom_magasin.fillna('missing', inplace=True)\nX_test.nom_magasin.fillna('missing', inplace=True)\n\nX_train.vintage.fillna('missing', inplace=True)\nX_test.vintage.fillna('missing', inplace=True)\n\nX_train.sous_categorie_1.fillna('missing', inplace=True)\nX_test.sous_categorie_1.fillna('missing', inplace=True)\n\nX_train.taille.fillna('missing', inplace=True)\nX_test.taille.fillna('missing', inplace=True)\n\nX_train.garantie.fillna('missing', inplace=True)\nX_test.garantie.fillna('missing', inplace=True)\n\nX_train.couleur.fillna('missing', inplace=True)\nX_test.couleur.fillna('missing', inplace=True)\n"

### Encodage des features catégorielles

Les algorithmes de machine learning s'attendent à avoir en entrée des **nombres**, et non pas des chaînes de caractères. C'est pourquoi nous transformons les **features catégorielles** en nombres, à l'aide de ```LabelEncoder()```

In [44]:
X_train.region.unique()

array(['Свердловская область', 'Самарская область', 'Ростовская область',
       'Татарстан', 'Волгоградская область', 'Нижегородская область',
       'Пермский край', 'Оренбургская область', 'Ханты-Мансийский АО',
       'Тюменская область', 'Башкортостан', 'Краснодарский край',
       'Новосибирская область', 'Омская область', 'Белгородская область',
       'Челябинская область', 'Воронежская область', 'Кемеровская область',
       'Саратовская область', 'Владимирская область',
       'Калининградская область', 'Красноярский край',
       'Ярославская область', 'Удмуртия', 'Алтайский край',
       'Иркутская область', 'Ставропольский край', 'Тульская область'], dtype=object)

In [45]:
#X_train.deal_probability.unique()

In [46]:
X_train.parent_category_name.unique()

array(['Личные вещи', 'Для дома и дачи', 'Бытовая электроника',
       'Транспорт', 'Недвижимость', 'Животные', 'Хобби и отдых', 'Услуги',
       'Для бизнеса'], dtype=object)

In [47]:
X_train.category_name.unique()

array(['Товары для детей и игрушки', 'Мебель и интерьер', 'Аудио и видео',
       'Автомобили', 'Ремонт и строительство', 'Одежда, обувь, аксессуары',
       'Детская одежда и обувь', 'Квартиры', 'Товары для компьютера',
       'Собаки', 'Дома, дачи, коттеджи', 'Товары для животных',
       'Другие животные', 'Комнаты', 'Коллекционирование',
       'Коммерческая недвижимость', 'Посуда и товары для кухни',
       'Красота и здоровье', 'Аквариум', 'Телефоны', 'Часы и украшения',
       'Предложение услуг', 'Птицы', 'Спорт и отдых',
       'Музыкальные инструменты', 'Бытовая техника',
       'Игры, приставки и программы', 'Земельные участки',
       'Продукты питания', 'Кошки', 'Билеты и путешествия',
       'Книги и журналы', 'Растения', 'Гаражи и машиноместа',
       'Мотоциклы и мототехника', 'Планшеты и электронные книги',
       'Оборудование для бизнеса', 'Настольные компьютеры', 'Ноутбуки',
       'Велосипеды', 'Грузовики и спецтехника', 'Готовый бизнес',
       'Фототехника', 'Водный транспорт', 'Охота и рыбалка',
       'Оргтехника и расходники', 'Недвижимость за рубежом'], dtype=object)

In [48]:
X_train.activation_date.unique()

array(['2017-03-28', '2017-03-26', '2017-03-20', '2017-03-25',
       '2017-03-16', '2017-03-23', '2017-03-17', '2017-03-22',
       '2017-03-19', '2017-03-21', '2017-03-27', '2017-03-18',
       '2017-03-24', '2017-03-15', '2017-03-29', '2017-04-02',
       '2017-04-07', '2017-04-01', '2017-03-31', '2017-03-30', '2017-04-03'], dtype=object)

In [49]:
X_test.activation_date.unique()

array(['2017-04-18', '2017-04-16', '2017-04-17', '2017-04-15',
       '2017-04-12', '2017-04-13', '2017-04-14', '2017-04-19', '2017-04-20'], dtype=object)

In [50]:
X_train.user_type.unique()

array(['Private', 'Company', 'Shop'], dtype=object)

In [51]:
X_train["len_title"] = X_train.title.apply(lambda x : len(x))
X_test["len_title"] = X_test.title.apply(lambda x : len(x))

In [52]:
X_train["len_des"] = X_train.description.apply(lambda x : len(str(x)))
X_test["len_des"] = X_test.description.apply(lambda x : len(str(x)))

In [53]:
X_train["date"] = X_train.activation_date.apply(lambda x : int(x[-2:]))
X_test["date"] = X_test.activation_date.apply(lambda x : int(x[-2:]))

In [54]:
te_m = X_test["date"].min()
te_N = float(X_test["date"].max() - te_m)

tr_m = X_train["date"].min()
tr_N = float(X_train["date"].max() - tr_m)

X_train["date"] = X_train.date.apply(lambda x : (x-tr_m) / tr_N )
X_test["date"] = X_test.date.apply(lambda x : (x-te_m) / te_N )

In [55]:
le_user_type = LabelEncoder()
X_train['user_type'] = le_user_type.fit_transform(X_train.user_type)
X_test['user_type'] = le_user_type.transform(X_test.user_type)

In [56]:
le_category_name = LabelEncoder()
X_train['category_name'] = le_category_name.fit_transform(X_train.category_name)
X_test['category_name'] = le_category_name.transform(X_test.category_name)

In [57]:
le_parent_category_name = LabelEncoder()
X_train['parent_category_name'] = le_parent_category_name.fit_transform(X_train.parent_category_name)
X_test['parent_category_name'] = le_parent_category_name.transform(X_test.parent_category_name)

In [58]:
le_region = LabelEncoder()
X_train['region'] = le_region.fit_transform(X_train.region)
X_test['region'] = le_region.transform(X_test.region)

In [59]:
features = ["len_title", "user_type", "parent_category_name", "category_name", "date",  "len_des", "region"]
            

# , "parent_category_name", "category_name"
# , "date",  "len_des", "region"

In [60]:
X_train[features].head(5)

,len_title,user_type,parent_category_name,category_name,date,len_des,region
item_id,,,,,,,
b912c3c6a6ad,21,1,4,42,0.900000,58,19
2dac0150717d,17,1,2,22,0.833333,41,17
ba83aefab5dc,14,1,0,2,0.633333,99,16
02996f1dd2ea,10,0,4,42,0.800000,22,21
7c90be56d2ab,14,1,6,0,0.500000,24,4

In [61]:
X_test[features].head(5)

,len_title,user_type,parent_category_name,category_name,date,len_des,region
item_id,,,,,,,
6544e41a8817,15,1,4,10,0.750,12,4
65b9484d670f,16,1,8,5,0.500,88,19
8bab230b2ecd,3,1,0,2,0.625,132,12
8e348601fefc,17,1,2,4,0.625,93,18
8bd2fe400b89,17,1,4,42,0.375,60,14

In [62]:
y_train = X_train["deal_probability"]
#y_train = y_train.apply(lambda x : int(x*100))

In [63]:
#len(y_train.unique())

In [64]:
classifiers = [XGBClassifier(n_estimators=400, max_depth=6, n_jobs=-1)]
#    svm.SVR()
#    linear_model.LinearRegression()
#    linear_model.SGDRegressor(),
#    linear_model.BayesianRidge(),
#    linear_model.LassoLars(),

#    linear_model.TheilSenRegressor()
#    linear_model.ARDRegression(),


#    linear_model.PassiveAggressiveRegressor()

In [65]:
import lightgbm as lgb

dftrainLGB = lgb.Dataset(data = X_train[features], label = np.ravel(y_train), feature_name = features)

params = {'objective': 'regression'}

cv_results = lgb.cv(
        params,
        dftrainLGB,
        num_boost_round=100,
        nfold=5,
        metrics='mse',
        early_stopping_rounds=10,
        stratified=False
        )

In [66]:
cv_results

{'l2-mean': [0.065882298587904967,
  0.064454362992917083,
  0.063295421761926346,
  0.062346983188784254,
  0.06157187431169029,
  0.060933629998748032,
  0.060405688970826175,
  0.059971615206623349,
  0.059612881328530251,
  0.059316021969051225,
  0.059071397739671946,
  0.058866366481301016,
  0.058694784084321119,
  0.058548234198224733,
  0.058424920109943768,
  0.058320578714238833,
  0.05823069958037895,
  0.058153226717109541,
  0.058084137153788094,
  0.058026049172390293,
  0.057972197688181473,
  0.057924190599436487,
  0.057877920537486159,
  0.057837136794128628,
  0.057802428992846065,
  0.057772381342123237,
  0.057742757202604987,
  0.057716469409064719,
  0.057688817428737917,
  0.05766591338016562,
  0.057644571744448335,
  0.057622831994336696,
  0.057608652508838142,
  0.057591911966120769,
  0.057575187027755784,
  0.057561809443444044,
  0.05754393967647238,
  0.057531215100356969,
  0.05751845821503717,
  0.057506205305536809,
  0.057495335045395869,
  0.057485877882159565,
  0.057476296045819809,
  0.057467070897809315,
  0.05745966276905938,
  0.057452737779933594,
  0.057444505642037291,
  0.057438176740897753,
  0.057431462535715683,
  0.057424971785914727,
  0.057418194491521655,
  0.057411355810590467,
  0.057404578361184885,
  0.057399298387310026,
  0.057394079574991229,
  0.057388984568346665,
  0.057383241308581259,
  0.057379647077263271,
  0.057374473116437209,
  0.057370799780835549,
  0.057365513146443968,
  0.057360087811693786,
  0.05735375455850996,
  0.057351535313694343,
  0.057347309196898101,
  0.05734339191447653,
  0.057339959358976886,
  0.057336252324507155,
  0.057331682797801396,
  0.057327366760456702,
  0.057324133231106612,
  0.057319680687301755,
  0.057317656917611162,
  0.057313909048968291,
  0.057310000231133439,
  0.057306982162091201,
  0.057303855484112251,
  0.057300130273424774,
  0.057297000758495788,
  0.057295065003889235,
  0.057292662843396583,
  0.057289350272841114,
  0.057286448170627891,
  0.05728378665659152,
  0.057281916051310187,
  0.057277696874056441,
  0.057276013243020805,
  0.057272476799652985,
  0.05727082579504187,
  0.057268255553482507,
  0.057265594813854612,
  0.057261847695347624,
  0.057260062969784219,
  0.057258711062154001,
  0.057256645626466651,
  0.057252528855771256,
  0.057248532903064572,
  0.057246949949595394,
  0.057245029912998749,
  0.057243975703224613],
 'l2-stdv': [0.00014063168898558286,
  0.00013730405207874769,
  0.00013333678478139643,
  0.00013159257696085985,
  0.00012798053395408413,
  0.00012572378490468246,
  0.00012438027873346009,
  0.00012389808128193111,
  0.00012112379006115059,
  0.0001201761088704425,
  0.0001208131328370557,
  0.00011865635432880387,
  0.00011692220189132751,
  0.0001162389996967573,
  0.00011560644963072224,
  0.00011536713642251841,
  0.00011493783758514827,
  0.00011395912077548778,
  0.00011437131385434236,
  0.00011291804780151434,
  0.00011461854924534996,
  0.000113026436760411,
  0.00010907184419412929,
  0.00011015397207544485,
  0.00011197648203180603,
  0.00011268683783078233,
  0.00011199579053222641,
  0.00011165719217913802,
  0.00011260805170954686,
  0.00011248341008155839,
  0.00011327842923291048,
  0.00011170993669732672,
  0.00011273281863002116,
  0.00011323167793453722,
  0.00011139680739120801,
  0.00011257349982204249,
  0.0001127328468133116,
  0.00011138018706347285,
  0.00011228581294935182,
  0.00011306951948295231,
  0.00011231058255244388,
  0.00011362294463244815,
  0.00011373428078452621,
  0.00011394136959585933,
  0.00011352298153348944,
  0.00011362609200680312,
  0.00011335669886130188,
  0.00011330069038219673,
  0.00011409997313389686,
  0.00011408091917636624,
  0.00011492284210254634,
  0.00011350793085892711,
  0.0001122993391237645,
  0.0001117299063129949,
  0.00011242947244481586,
  0.00011378969081757325,
  0.00011345194501573065,
  0.00011287097944677828,
  0.00011344547253056033,
  0.00011200524589708084,
  0.00011016798508624613,
  0.00011095977290056735,
  0.00011053257273332969,
  0.0001105396849715592,
  0.0001111572572170702,
  0.00011186771332315088,
  0.00011204463713799093,
  0.00011383372149188362,
  0.00011472646434520607,
  0.00011166914403545539,
  0.00011077594262120061,
  0.00011068687560277952,
  0.00011083346703776328,
  0.00011087272756859034,
  0.0001105114713013524,
  0.00011108250000611826,
  0.00011057428908643399,
  0.00010857682336113115,
  0.00010784129223568312,
  0.00010691161788211305,
  0.0001066529564228062,
  0.00010689118137266574,
  0.00010622677539486843,
  0.00010604202892233016,
  0.00010617880330152076,
  0.00010399765445014534,
  0.00010404634224947277,
  0.00010488818268333932,
  0.00010499033769866544,
  0.00010379014925410381,
  0.00010444076454443236,
  0.00010517747403966002,
  0.00010593929858078471,
  0.00010609051738219706,
  0.00010626943002891541,
  0.00010557921292084503,
  0.00010477898061015682,
  0.00010521870385020239,
  0.00010501147963275735,
  0.00010511074003140951]}

In [ ]:
y_pred=clf.predict(x_test)

In [96]:
'''
model = linear_model.LinearRegression()
#model = XGBClassifier(n_estimators=400, max_depth=6, n_jobs=-1)
#model = RandomForestClassifier(n_estimators=300)

ppl = Pipeline([("imputer", Imputer(strategy='median')),
                ("clf", model)])

ppl.fit(X_train[features], np.ravel(y_train))   # .loc[:, features]

pred_train = ppl.predict(X_train[features])
pred_cv = cross_val_predict(ppl, X_train[features], np.ravel(y_train), method='predict', cv=5, n_jobs=-1)
'''

'\nmodel = linear_model.LinearRegression()\n#model = XGBClassifier(n_estimators=400, max_depth=6, n_jobs=-1)\n#model = RandomForestClassifier(n_estimators=300)\n\nppl = Pipeline([("imputer", Imputer(strategy=\'median\')),\n                ("clf", model)])\n\nppl.fit(X_train[features], np.ravel(y_train))   # .loc[:, features]\n\npred_train = ppl.predict(X_train[features])\npred_cv = cross_val_predict(ppl, X_train[features], np.ravel(y_train), method=\'predict\', cv=5, n_jobs=-1)\n'

In [ ]:

count_ = 0
for model in classifiers:
    ppl = Pipeline([("imputer", Imputer(strategy='median')),("clf", model)])
    ppl.fit(X_train[features], np.ravel(y_train))

    pred_train = ppl.predict(X_train[features])
    pred_cv = cross_val_predict(ppl, X_train[features], np.ravel(y_train),
                                method='predict', cv=5, n_jobs=-1)
    print('nb_model : ', count_)
    print("LogLoss sur echantillon train:",sqrt(mean_squared_error(y_pred=pred_train, y_true=y_train)))
    print("LogLoss sur echantillon train (CV):",sqrt(mean_squared_error(y_pred=pred_cv, y_true=y_train)))
    
    count_ +=1

# Calcul de l'erreur: logloss

In [31]:
from sklearn.metrics import log_loss 
from sklearn.metrics import mean_squared_error
from math import sqrt

#rms = sqrt(mean_squared_error(y_actual, y_predicted))

In [32]:
print("LogLoss sur echantillon train:",sqrt(mean_squared_error(y_pred=pred_train, y_true=y_train)))
print("LogLoss sur echantillon train (CV):",sqrt(mean_squared_error(y_pred=pred_cv, y_true=y_train)))

LogLoss sur echantillon train: 0.26004724441077304
LogLoss sur echantillon train (CV): 0.2600474968465803

# Calcul des predictions

In [24]:
pred_test = ppl.predict(X_test[features])

In [25]:
df_submission = pd.DataFrame(pred_test, index=X_test.index)

## Possibilité n°2 : Soumettez un fichier CSV

1. Aller sur la plateforme [QScore](https://qscore.meilleurdatascientistdefrance.com) puis dans "Submissions" > "Submit with a file"
2. Déposer le fichier CSV

In [27]:
df_submission.to_csv("my_prediction_1.csv", index_label="item_id", header=["deal_probability"])